<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hkust.comp3111h.focus"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Permissions setting up -->
    <!-- for notification -->
    <use-permission android:name="android.permission.VIBRATE"/>
    <!--for synchronization -->
    <use-permission android:name="android.permission.INTENET"/>
    <!-- for google calendar integration -->
    <use-permission android:name="android.permission.WRITE_CALENDAR"/>
    <use-permission android:name="android.permission.READ_CALENDAR"/>
    <!-- for creating shortcuts -->
    <use-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!--for back up -->
    <use-permission android:name="android.permission.WRITE_EXTERNAL_STORATE" />

    <uses-sdk android:targetSdkVersion="13"
        android:minSdkVersion="8" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <!-- ====================  Activities  ============== -->
        <activity
            android:name="hkust.comp3111h.focus.test.MainTestActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="hkust.comp3111h.focus.Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Father_Focus">
        </activity>
        
        <activity
            android:name=".test.TestUserTable"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".test.TestAllTables"
            android:label="@string/app_name">
        </activity>
        
        <activity
          android:name="hkust.comp3111h.focus.Activity.TimerActivity">
        </activity>
    </application>

</manifest>
